---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import AboutYourProject from "@components/about-your-project.astro";

import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/layout.astro";
import MailSmirkSmall from "@assets/logos/logo-dark.mailsmirk.svg";
import PhobiaSmall from "@assets/logos/logo-dark.phobia.svg";
import FamilyFundSmall from "@assets/logos/logo-dark.familyfund.svg";
import UnsealSmall from "@assets/logos/logo-dark.unseal.svg";
import HomeWorkSmall from "@assets/logos/logo-dark.homework.svg";
import GreenLifeSmall from "@assets/logos/logo-dark.greenlife.svg";
import BrightPathSmall from "@assets/logos/logo-dark.brightpath.svg";
import NorthAdventuresSmall from "@assets/logos/logo-dark.northadventures.svg";
import Background from "@components/background.astro";

import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const publishedWorkEntries = (
  await getCollection("work", ({ data }) => {
    return !data.draft && data.date < new Date();
  })
)
  .sort(function (a, b) {
    return b.data.date.valueOf() - a.data.date.valueOf();
  })
  .slice(0, 3);

const clients = await getCollection("clients", ({ slug }) => {
  return publishedWorkEntries.some((work) => work.data.client.slug == slug);
});
---

<Layout title="Our work">
  <Sectionhead
    section="Our work"
    title="Proven solutions for real-world problems."
    description="We believe in efficiency and maximizing our resources to provide the best value to our clients. The primary way we do that is by re-using the same five projects we’ve been developing for the past decade."
  />

  <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div style="opacity: 1; transform: none;">
        <h2 class="font-display text-2xl font-semibold text-neutral-950">
          Case studies
        </h2>
      </div>
      <div class="mt-10 space-y-20 sm:space-y-24 lg:space-y-32">
        {
          publishedWorkEntries.map((work) => {
            const client = clients.find(
              (client) => client.slug === work.data.client.slug,
            )!;

            const url = getRelativeLocaleUrl(lang, `/work/${work.slug}`);

            return (
              <article>
                <div class="grid grid-cols-3 gap-x-8 gap-y-8 pt-16 relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                  <div class="col-span-full sm:flex sm:items-center sm:justify-between sm:gap-x-8 lg:col-span-1 lg:block">
                    <div class="sm:flex sm:items-center sm:gap-x-6 lg:block">
                      <Image
                        alt={client.data.name}
                        loading="lazy"
                        width="36"
                        height="36"
                        decoding="async"
                        data-nimg="1"
                        class="h-16 w-16 flex-none"
                        src={client.data.logos.markDark}
                        style="color: transparent;"
                      />
                      <h3 class="mt-6 text-sm font-semibold text-neutral-950 sm:mt-0 lg:mt-8">
                        {client.data.name}
                      </h3>
                    </div>
                    <div class="mt-1 flex gap-x-4 sm:mt-0 lg:block">
                      <p class="text-sm tracking-tight text-neutral-950 after:ml-4 after:font-semibold after:text-neutral-300 after:content-['/'] lg:mt-2 lg:after:hidden">
                        {work.data.tags
                          .map((tag) => t(`tags.${tag}`))
                          .join(", ")}
                      </p>
                      <p class="text-sm text-neutral-950 lg:mt-2">
                        <time datetime="2023-01">January 2023</time>
                      </p>
                    </div>
                  </div>
                  <div class="col-span-full lg:col-span-2 lg:max-w-2xl">
                    <p class="font-display text-4xl font-medium text-neutral-950">
                      <a href={url}>{work.data.title}</a>
                    </p>
                    <div class="mt-6 space-y-6 text-base text-neutral-600">
                      <p>{work.data.description}</p>
                      <p>{work.data.snippet}</p>
                    </div>
                    <div class="mt-8 flex">
                      <a
                        class="inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition bg-neutral-950 text-white hover:bg-neutral-800"
                        aria-label="Read case study: FamilyFund"
                        href={url}>
                        <span class="relative top-px">Read case study</span>
                      </a>
                    </div>
                    <div class="pl-8 mt-12 relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                      <figure class="text-sm">
                        <blockquote class="text-neutral-600 [&>*]:relative [&>:first-child]:before:absolute [&>:first-child]:before:right-full [&>:first-child]:before:content-['“'] [&>:last-child]:after:content-['”']">
                          <p>{work.data.quote.message}</p>
                        </blockquote>
                        <figcaption class="mt-6 font-semibold text-neutral-950">
                          {work.data.quote.author.name},{" "}
                          {work.data.quote.author.position}
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </article>
            );
          })
        }
      </div>
    </div>
  </div>

  <div
    class="relative isolate bg-neutral-50 py-16 sm:py-28 md:py-32 mt-24 sm:mt-32 lg:mt-40">
    <Background />
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div style="opacity: 1; transform: none;">
          <figure class="mx-auto max-w-4xl">
            <blockquote
              class="relative font-display text-3xl font-medium tracking-tight text-neutral-950 sm:text-4xl">
              <p
                class="before:content-['“'] after:content-['”'] sm:before:absolute sm:before:right-full">
                We approached <em>Studio</em> because we loved their past work.
                They delivered something remarkably similar in record time.
              </p>
            </blockquote><figcaption class="mt-10">
              <img
                alt="Mail Smirk"
                loading="lazy"
                width="184"
                height="36"
                decoding="async"
                data-nimg="1"
                src={MailSmirkSmall.src}
                style="color: transparent;"
              />
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div><div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div style="opacity: 1; transform: none;">
        <h2 class="font-display text-2xl font-semibold text-neutral-950">
          You’re in good company
        </h2>
      </div><div class="mt-10">
        <div
          class="relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px"
          style="opacity: 1; transform: none;">
        </div><ul
          role="list"
          class="grid grid-cols-2 gap-x-8 gap-y-12 sm:grid-cols-3 lg:grid-cols-4">
          <li class="group">
            <div class="overflow-hidden" style="opacity: 1; transform: none;">
              <div
                class="pt-12 group-[&:nth-child(-n+2)]:-mt-px sm:group-[&:nth-child(3)]:-mt-px lg:group-[&:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                <img
                  alt="Phobia"
                  loading="lazy"
                  width="184"
                  height="36"
                  decoding="async"
                  data-nimg="1"
                  src={PhobiaSmall.src}
                  style="color: transparent;"
                />
              </div>
            </div>
          </li><li class="group">
            <div class="overflow-hidden" style="opacity: 1; transform: none;">
              <div
                class="pt-12 group-[&:nth-child(-n+2)]:-mt-px sm:group-[&:nth-child(3)]:-mt-px lg:group-[&:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                <img
                  alt="Family Fund"
                  loading="lazy"
                  width="184"
                  height="36"
                  decoding="async"
                  data-nimg="1"
                  src={FamilyFundSmall.src}
                  style="color: transparent;"
                />
              </div>
            </div>
          </li><li class="group">
            <div class="overflow-hidden" style="opacity: 1; transform: none;">
              <div
                class="pt-12 group-[&:nth-child(-n+2)]:-mt-px sm:group-[&:nth-child(3)]:-mt-px lg:group-[&:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                <img
                  alt="Unseal"
                  loading="lazy"
                  width="184"
                  height="36"
                  decoding="async"
                  data-nimg="1"
                  src={UnsealSmall.src}
                  style="color: transparent;"
                />
              </div>
            </div>
          </li><li class="group">
            <div class="overflow-hidden" style="opacity: 1; transform: none;">
              <div
                class="pt-12 group-[&:nth-child(-n+2)]:-mt-px sm:group-[&:nth-child(3)]:-mt-px lg:group-[&:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                <img
                  alt="Mail Smirk"
                  loading="lazy"
                  width="184"
                  height="36"
                  decoding="async"
                  data-nimg="1"
                  src={MailSmirkSmall.src}
                  style="color: transparent;"
                />
              </div>
            </div>
          </li><li class="group">
            <div class="overflow-hidden" style="opacity: 1; transform: none;">
              <div
                class="pt-12 group-[&:nth-child(-n+2)]:-mt-px sm:group-[&:nth-child(3)]:-mt-px lg:group-[&:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                <img
                  alt="Home Work"
                  loading="lazy"
                  width="184"
                  height="36"
                  decoding="async"
                  data-nimg="1"
                  src={HomeWorkSmall.src}
                  style="color: transparent;"
                />
              </div>
            </div>
          </li><li class="group">
            <div class="overflow-hidden" style="opacity: 1; transform: none;">
              <div
                class="pt-12 group-[&:nth-child(-n+2)]:-mt-px sm:group-[&:nth-child(3)]:-mt-px lg:group-[&:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                <img
                  alt="Green Life"
                  loading="lazy"
                  width="184"
                  height="36"
                  decoding="async"
                  data-nimg="1"
                  src={GreenLifeSmall.src}
                  style="color: transparent;"
                />
              </div>
            </div>
          </li><li class="group">
            <div class="overflow-hidden" style="opacity: 1; transform: none;">
              <div
                class="pt-12 group-[&:nth-child(-n+2)]:-mt-px sm:group-[&:nth-child(3)]:-mt-px lg:group-[&:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                <img
                  alt="Bright Path"
                  loading="lazy"
                  width="184"
                  height="36"
                  decoding="async"
                  data-nimg="1"
                  src={BrightPathSmall.src}
                  style="color: transparent;"
                />
              </div>
            </div>
          </li><li class="group">
            <div class="overflow-hidden" style="opacity: 1; transform: none;">
              <div
                class="pt-12 group-[&:nth-child(-n+2)]:-mt-px sm:group-[&:nth-child(3)]:-mt-px lg:group-[&:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                <img
                  alt="North Adventures"
                  loading="lazy"
                  width="184"
                  height="36"
                  decoding="async"
                  data-nimg="1"
                  src={NorthAdventuresSmall.src}
                  style="color: transparent;"
                />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <AboutYourProject />
</Layout>
