---
import { Icon } from "astro-icon";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { contact, social, locations } from "data";

const socialItems = [
  {
    label: "Facebook",
    name: "facebook",
    icon: "mdi:facebook",
  },
  {
    label: "Instagram",
    name: "instagram",
    icon: "mdi:instagram",
  },
  {
    label: "Twitter",
    name: "twitter",
    icon: "mdi:twitter",
  },
  {
    label: "Github",
    name: "Github",
    icon: "mdi:github",
  },
];
---

<Layout title="Contact">
  <Sectionhead
    section="Contact us"
    title="Let's work together"
    description="We can't wait to hear from you."
  />

  <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="grid grid-cols-1 gap-x-8 gap-y-24 lg:grid-cols-2">
        <div class="lg:order-last" style="opacity: 1; transform: none;">
          <form>
            <h2 class="font-display text-base font-semibold text-neutral-950">
              Work inquiries
            </h2>
            <div class="isolate mt-6 -space-y-px rounded-2xl bg-white/50">
              <div class="group relative z-0 transition-all focus-within:z-10">
                <input
                  id=":S1:"
                  autocomplete="name"
                  placeholder=" "
                  class="peer block w-full border border-neutral-300 bg-transparent px-6 pb-4 pt-12 text-base/6 text-neutral-950 ring-4 ring-transparent transition focus:border-neutral-950 focus:outline-none focus:ring-neutral-950/5 group-first:rounded-t-2xl group-last:rounded-b-2xl"
                  type="text"
                  name="name"
                />
                <label
                  for=":S1:"
                  class="pointer-events-none absolute left-6 top-1/2 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-neutral-950 peer-[:not(:placeholder-shown)]:-translate-y-4 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-neutral-950">
                  Name
                </label>
              </div>
              <div class="group relative z-0 transition-all focus-within:z-10">
                <input
                  id=":S2:"
                  autocomplete="email"
                  placeholder=" "
                  class="peer block w-full border border-neutral-300 bg-transparent px-6 pb-4 pt-12 text-base/6 text-neutral-950 ring-4 ring-transparent transition focus:border-neutral-950 focus:outline-none focus:ring-neutral-950/5 group-first:rounded-t-2xl group-last:rounded-b-2xl"
                  type="email"
                  name="email"
                />
                <label
                  for=":S2:"
                  class="pointer-events-none absolute left-6 top-1/2 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-neutral-950 peer-[:not(:placeholder-shown)]:-translate-y-4 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-neutral-950">
                  Email
                </label>
              </div>
              <div class="group relative z-0 transition-all focus-within:z-10">
                <input
                  id=":S3:"
                  autocomplete="organization"
                  placeholder=" "
                  class="peer block w-full border border-neutral-300 bg-transparent px-6 pb-4 pt-12 text-base/6 text-neutral-950 ring-4 ring-transparent transition focus:border-neutral-950 focus:outline-none focus:ring-neutral-950/5 group-first:rounded-t-2xl group-last:rounded-b-2xl"
                  type="text"
                  name="company"
                />
                <label
                  for=":S3:"
                  class="pointer-events-none absolute left-6 top-1/2 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-neutral-950 peer-[:not(:placeholder-shown)]:-translate-y-4 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-neutral-950">
                  Company
                </label>
              </div>
              <div class="group relative z-0 transition-all focus-within:z-10">
                <input
                  id=":S4:"
                  autocomplete="tel"
                  placeholder=" "
                  class="peer block w-full border border-neutral-300 bg-transparent px-6 pb-4 pt-12 text-base/6 text-neutral-950 ring-4 ring-transparent transition focus:border-neutral-950 focus:outline-none focus:ring-neutral-950/5 group-first:rounded-t-2xl group-last:rounded-b-2xl"
                  type="tel"
                  name="phone"
                />
                <label
                  for=":S4:"
                  class="pointer-events-none absolute left-6 top-1/2 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-neutral-950 peer-[:not(:placeholder-shown)]:-translate-y-4 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-neutral-950">
                  Phone
                </label>
              </div>
              <div class="group relative z-0 transition-all focus-within:z-10">
                <input
                  id=":S5:"
                  placeholder=" "
                  class="peer block w-full border border-neutral-300 bg-transparent px-6 pb-4 pt-12 text-base/6 text-neutral-950 ring-4 ring-transparent transition focus:border-neutral-950 focus:outline-none focus:ring-neutral-950/5 group-first:rounded-t-2xl group-last:rounded-b-2xl"
                  type="text"
                  name="message"
                />
                <label
                  for=":S5:"
                  class="pointer-events-none absolute left-6 top-1/2 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-neutral-950 peer-[:not(:placeholder-shown)]:-translate-y-4 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-neutral-950">
                  Message
                </label>
              </div>
              <div
                class="border border-neutral-300 px-6 py-8 first:rounded-t-2xl last:rounded-b-2xl">
                <!-- <fieldset>
                  <legend class="text-base/6 text-neutral-500">Budget</legend>
                  <div class="mt-6 grid grid-cols-1 gap-8 sm:grid-cols-2">
                    {
                      [
                        [25, 50],
                        [50, 100],
                        [100, 150],
                      ].map(([min, max]) => (
                        <label class="flex gap-x-3">
                          <input
                            class="h-6 w-6 flex-none appearance-none rounded-full border border-neutral-950/20 outline-none checked:border-[0.5rem] checked:border-neutral-950 focus-visible:ring-1 focus-visible:ring-neutral-950 focus-visible:ring-offset-2"
                            type="radio"
                            value="25"
                            name="budget"
                          />
                          <span class="text-base/6 text-neutral-950">
                            ${min}K – ${max}K
                          </span>
                        </label>
                      ))
                    }
                    <label class="flex gap-x-3">
                      <input
                        class="h-6 w-6 flex-none appearance-none rounded-full border border-neutral-950/20 outline-none checked:border-[0.5rem] checked:border-neutral-950 focus-visible:ring-1 focus-visible:ring-neutral-950 focus-visible:ring-offset-2"
                        type="radio"
                        value="150"
                        name="budget"
                      />
                      <span class="text-base/6 text-neutral-950">
                        More than $150K
                      </span>
                    </label>
                  </div>
                </fieldset> -->
                <fieldset>
                  <legend class="text-base/6 text-neutral-500">Project</legend>
                  <div class="mt-6 grid grid-cols-1 gap-8 sm:grid-cols-2">
                    {
                      ["Web", "Custom development", "E-commerce", "Other"].map(
                        (label) => (
                          <label class="flex gap-x-3">
                            <input
                              class="h-6 w-6 flex-none appearance-none rounded-full border border-neutral-950/20 outline-none checked:border-[0.5rem] checked:border-neutral-950 focus-visible:ring-1 focus-visible:ring-neutral-950 focus-visible:ring-offset-2"
                              type="radio"
                              value="25"
                              name="budget"
                            />
                            <span class="text-base/6 text-neutral-950">
                              {label}
                            </span>
                          </label>
                        ),
                      )
                    }
                  </div>
                </fieldset>
              </div>
            </div><button
              class="mt-10 inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition bg-neutral-950 text-white hover:bg-neutral-800"
              type="submit"
              ><span class="relative top-px">Let’s work together</span></button
            >
          </form>
        </div><div style="opacity: 1; transform: none;">
          <h2 class="font-display text-base font-semibold text-neutral-950">
            Our offices
          </h2>
          <p class="mt-6 text-base text-neutral-600">
            Prefer doing things in person? We don't but we have to list our
            addresses here for legal reasons.
          </p>
          <ul role="list" class="mt-10 grid grid-cols-1 gap-8 sm:grid-cols-2">
            {
              locations.map((location) => (
                <li>
                  <address class="text-sm not-italic text-neutral-600">
                    <strong class="text-white">{location.city}</strong>
                    <br />
                    {location.address}
                    <br />
                    {location.zip}, {location.state}, {location.country}
                  </address>
                </li>
              ))
            }
          </ul>
          <div
            class="mt-16 pt-16 relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
            <h2 class="font-display text-base font-semibold text-neutral-950">
              Email us
            </h2>
            <dl class="mt-6 grid grid-cols-1 gap-8 text-sm sm:grid-cols-2">
              <div>
                <dt class="font-semibold text-neutral-950">Information</dt>
                <dd>
                  <a
                    class="text-neutral-600 hover:text-neutral-950"
                    href={`mailto:${contact.email.info}`}>
                    {contact.email.info}
                  </a>
                </dd>
              </div>
              <div>
                <dt class="font-semibold text-neutral-950">Support</dt>
                <dd>
                  <a
                    class="text-neutral-600 hover:text-neutral-950"
                    href={`mailto:${contact.email.support}`}>
                    {contact.email.support}
                  </a>
                </dd>
              </div>
            </dl>
          </div>
          <div
            class="mt-16 pt-16 relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
            <h2 class="font-display text-base font-semibold text-neutral-950">
              Follow us
            </h2>
            <ul role="list" class="flex gap-x-10 text-neutral-950 mt-6">
              {
                socialItems.map((item) => (
                  <li>
                    <a
                      aria-label={item.label}
                      class="transition hover:text-neutral-700"
                      href={social[item.name]}>
                      <Icon
                        alt={item.label}
                        class="h-5 md:h-7"
                        name={item.icon}
                      />
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
