---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Layout from "@layouts/layout.astro";
import Sectionhead from "@components/sectionhead.astro";
import Record from "@components/record.astro";
import Background from "@components/background.astro";
import FromBlog from "@components/from-blog.astro";
import AboutYourProject from "@components/about-your-project.astro";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

const recordsData = [
  { description: t("aboutUs.years"), value: 2 },
  { description: t("aboutUs.satisfiedClients"), value: 12 },
  { description: t("aboutUs.techUsed"), value: 9 },
];

const cultureData = t("aboutUs.culture.cultureData");

const paragraphs = t("aboutUs.paragraphs");
---

<Layout title={t("aboutUs.pageTitle")}>
  <Sectionhead
    section={t("aboutUs.sectionHead.title")}
    title={t("aboutUs.sectionHead.subtitle")}
    description={t("aboutUs.sectionHead.description")}>
    <div class="mt-10 max-w-2xl space-y-6 text-base">
      {paragraphs.map((p) => <p>{p}</p>)}
    </div>
  </Sectionhead>

  <div class="font-display mx-auto max-w-7xl px-6 lg:px-8 mt-16">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <dl
        class="grid grid-cols-1 gap-10 sm:grid-cols-2 lg:auto-cols-fr lg:grid-flow-col lg:grid-cols-none">
        {recordsData.map((data) => <Record data={data} />)}
      </dl>
    </div>
  </div><div
    class="font-display mt-24 rounded-4xl bg-neutral-950 py-24 sm:mt-32 lg:mt-40 lg:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="max-w-2xl" style="opacity: 1; transform: none;">
          <h2>
            <span
              class="mb-6 block font-display text-base font-semibold text-white">
              {t("aboutUs.culture.title")}
            </span>
            <span
              class="block font-display tracking-tight [text-wrap:balance] text-4xl font-medium sm:text-5xl text-white">
              {t("aboutUs.culture.subtitle")}
            </span>
          </h2>
          <p class="mt-6 text-xl text-neutral-300"></p>
        </div>
      </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-16">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div>
          <ul
            role="list"
            class="grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3">
            {
              cultureData.map((item) => (
                <li class="text-base text-neutral-300 before:bg-white after:bg-white/10">
                  <div style="opacity: 1; transform: none;">
                    <div class="pl-8 relative before:absolute after:absolute before:bg-white after:bg-white/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                      <strong class="font-semibold text-white">
                        {item.label}.
                      </strong>{" "}
                      {item.description}
                    </div>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div><div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="space-y-24">
        <div>
          <div
            class="relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px"
            style="opacity: 1; transform: none;">
          </div>
          <div
            class="grid grid-cols-1 gap-6 pt-12 sm:pt-16 lg:grid-cols-4 xl:gap-8">
            <div style="opacity: 1; transform: none;">
              <h2 class="font-display text-2xl font-semibold text-neutral-950">
                {t("aboutUs.leadership")}
              </h2>
            </div>
            <div class="lg:col-span-3">
              <ul
                role="list"
                class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:gap-8">
                {
                  publishedTeamMembers
                    .filter((m) => m.data.roles.includes("leadership"))
                    .sort((a, b) => a.data.id - b.data.id)
                    .map((m) => (
                      <li>
                        <div style="opacity: 1; transform: none;">
                          <div class="group relative overflow-hidden rounded-3xl bg-neutral-100">
                            <Image
                              alt={m.data.name}
                              loading="lazy"
                              width="400"
                              height="400"
                              decoding="async"
                              data-nimg="1"
                              class="object-cover grayscale transition duration-500 motion-safe:group-hover:scale-105"
                              src={m.data.avatar.src}
                              style="color: transparent;"
                            />
                            <div class="absolute inset-0 flex flex-col justify-end bg-gradient-to-t from-black to-black/0 to-40% p-6">
                              <p class="font-display text-base/6 font-semibold tracking-wide text-white">
                                {m.data.name}
                              </p>
                              <p class="mt-2 text-sm text-white">
                                {m.data.title}
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    ))
                }
              </ul>
            </div>
          </div>
        </div>
        <!-- TODO hacer que esto tb salga en inglés lo de diseñadora, designer, cofundador, cofounder-->
        <div>
          <div
            class="relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px"
            style="opacity: 1; transform: none;">
          </div><div
            class="grid grid-cols-1 gap-6 pt-12 sm:pt-16 lg:grid-cols-4 xl:gap-8">
            <div style="opacity: 1; transform: none;">
              <h2 class="font-display text-2xl font-semibold text-neutral-950">
                {t("aboutUs.team")}
              </h2>
            </div>
            <div class="lg:col-span-3">
              <ul
                role="list"
                class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:gap-8">
                {
                  publishedTeamMembers
                    .filter((m) => m.data.roles.includes("team"))
                    .sort((a, b) => a.data.id - b.data.id)
                    .map((m) => (
                      <li>
                        <div style="opacity: 1; transform: none;">
                          <div class="group relative overflow-hidden rounded-3xl bg-neutral-100">
                            <Image
                              alt={m.data.name}
                              loading="lazy"
                              width="1800"
                              height="1800"
                              decoding="async"
                              data-nimg="1"
                              class="h-96 w-full object-cover grayscale transition duration-500 motion-safe:group-hover:scale-105"
                              src={m.data.avatar.src}
                              style="color: transparent;"
                            />
                            <div class="absolute inset-0 flex flex-col justify-end bg-gradient-to-t from-black to-black/0 to-40% p-6">
                              <p class="font-display text-base/6 font-semibold tracking-wide text-white">
                                {m.data.name}
                              </p>
                              <p class="mt-2 text-sm text-white">
                                {m.data.title}
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    ))
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="font-display relative pt-24 sm:pt-32 lg:pt-40 mt-24 sm:mt-32 lg:mt-40">
    <div
      class="absolute inset-x-0 top-0 -z-10 h-[884px] overflow-hidden rounded-t-4xl bg-gradient-to-b from-neutral-50">
      <Background />
    </div>
    <FromBlog />

    <AboutYourProject />
  </div>
</Layout>
