---
import { locations } from "../data";

import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
  <div class="mx-auto max-w-2xl lg:max-w-none">
    <div
      class="-mx-6 rounded-3xl bg-neutral-950 px-6 py-20 sm:mx-0 sm:py-32 md:px-12"
      style="opacity: 1; transform: none;">
      <div class="mx-auto max-w-4xl">
        <div class="max-w-xl">
          <h2
            class="font-display text-3xl font-medium text-white [text-wrap:balance] sm:text-4xl">
            {t("aboutYourProject.title")}
          </h2>
          <div class="mt-6 flex">
            <a
              class="inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition bg-white text-neutral-950 hover:bg-neutral-200"
              href={getRelativeLocaleUrl(lang, "contacto")}>
              <span class="relative top-px">
                {t("aboutYourProject.button")}
              </span>
            </a>
          </div>
          <div class="mt-10 border-t border-white/10 pt-10">
            <h3 class="font-display text-base font-semibold text-white">
              {t("aboutYourProject.offices")}
            </h3>
            <ul role="list" class="mt-6 grid grid-cols-1 gap-8 sm:grid-cols-2">
              {
                locations.map((location) => (
                  <li>
                    <address class="text-sm not-italic text-neutral-300">
                      <strong class="text-white">{location.city}</strong>
                      <br />
                      {location.address}
                      <br />
                      {location.zip}, {location.state}, {location.country}
                    </address>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
