---
import { Icon } from "astro-icon";
import { social, contact } from "../data";
import Logo from "./logo.astro";
import LegalPages from "./legal-pages.astro";

import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const items = {
  work: [
    {
      name: "SalonChick",
      path: getRelativeLocaleUrl(lang, `trabajo/salonchick-${lang}`),
    },
    {
      name: "Neoaesthetic",
      path: getRelativeLocaleUrl(lang, `trabajo/neoaesthetic-${lang}`),
    },
  ],
  company: [
    {
      name: t("footer.company.about"),
      path: getRelativeLocaleUrl(lang, "sobre-nosotros"),
    },
    {
      name: t("footer.company.services"),
      path: getRelativeLocaleUrl(lang, "servicios"),
    },
    {
      name: t("footer.company.blog"),
      path: getRelativeLocaleUrl(lang, "blog"),
    },
    {
      name: t("footer.company.contact"),
      path: getRelativeLocaleUrl(lang, "contacto"),
    },
  ],
  connect: [
    { name: "Facebook", url: social.facebook },
    { name: "Instagram", url: social.instagram },
    { name: "Twitter", url: social.twitter },
    { name: "LinkedIn", url: social.linkedin },
    { name: "GitHub", url: social.github },
  ],
  findUs: [
    {
      icon: "mdi:earth",
      iconName: "Compañía",
      name: contact.companyName,
    },
    {
      icon: "mdi:map-marker",
      iconName: "Localización",
      name: contact.address,
      url: contact.GMBlink,
    },
    {
      icon: "mdi:phone",
      iconName: "Teléfono",
      name: contact.phone,
      url: contact.whatsapp,
    },
  ],
};
---

<footer class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 w-full sm:mt-32 lg:mt-40">
  <div class="mx-auto max-w-2xl lg:max-w-none">
    <div style="opacity: 1; transform: none;">
      <div class="grid grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols-2">
        <nav>
          <ul class="grid grid-cols-2 gap-8 md:grid-cols-4">
            <li>
              <div
                class="font-display text-sm font-semibold tracking-wider text-neutral-950">
                {t("footer.work.title")}
              </div>
              <ul class="mt-4 text-sm text-neutral-700">
                {
                  items.work.map((item) => (
                    <li class="mt-4">
                      <a
                        class="transition hover:text-neutral-950"
                        href={item.path}>
                        {item.name}
                      </a>
                    </li>
                  ))
                }
                <li class="mt-4">
                  <a
                    class="transition hover:text-neutral-950"
                    href={getRelativeLocaleUrl(lang, "trabajo")}>
                    {t("footer.seeAll")}
                    <span aria-hidden="true">→</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <div
                class="font-display text-sm font-semibold tracking-wider text-neutral-950">
                {t("footer.company.title")}
              </div>
              <ul class="mt-4 text-sm text-neutral-700">
                {
                  items.company.map((item) => (
                    <li class="mt-4">
                      <a
                        class="transition hover:text-neutral-950"
                        href={item.path}>
                        {item.name}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </li>
            <li>
              <div
                class="font-display text-sm font-semibold tracking-wider text-neutral-950">
                {t("footer.connect.title")}
              </div><ul class="mt-4 text-sm text-neutral-700">
                {
                  items.connect.map((item) => (
                    <li class="mt-4">
                      <a
                        class="transition hover:text-neutral-950"
                        href={item.url}>
                        {item.name}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </li>
            <li class="sm:w-[250px]">
              <div
                class="font-display text-sm font-semibold tracking-wider text-neutral-950">
                {t("footer.findUs.title")}
              </div><ul class="mt-4 text-sm text-neutral-700">
                {
                  items.findUs.map((item) => (
                    <li class="mt-4 flex items-center gap-2">
                      <Icon
                        title={item.iconName}
                        class="h-5"
                        name={item.icon}
                      />
                      <a
                        class="transition hover:text-neutral-950"
                        target="_blank"
                        rel="noopener"
                        href={item.url}>
                        {item.name}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </li>
          </ul>
        </nav>
        <div class="flex lg:justify-end">
          <form class="max-w-sm">
            <span
              class="font-display text-sm font-semibold tracking-wider text-neutral-950">
              {t("footer.newsletter.primary")}
            </span>
            <p class="mt-4 text-sm text-neutral-700">
              {t("footer.newsletter.secondary")}
            </p>
            <div class="mt-6 flex gap-4 items-end">
              <span class="font-bold">{t("footer.comingSoon")}</span>
              <span>⌛</span>
            </div>
          </form>
        </div>
      </div>
      <div
        class="mb-20 mt-24 flex flex-wrap flex-col md:flex-row items-end justify-between gap-x-6 gap-y-4 border-t border-neutral-950/10 pt-12 items-center">
        <Logo parent="Footer" />
        <LegalPages />
        <p class="text-sm text-neutral-700">© webllope. 2024</p>
      </div>
    </div>
  </div>
</footer>
