---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";

import AboutYourProject from "@components/about-your-project.astro";
import Message from "@components/message.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/layout.astro";
import GoodHands from "@components/good-hands.astro";

import { formatShortDate, getLangFromUrl, useTranslations } from "@i18n/utils";
import { capitalize } from "@utils/all";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const getFormattedDate = (date) => formatShortDate(lang, date);

const publishedWorkEntries = (
  await getCollection("work", ({ data }) => {
    return data.lang === lang && !data.draft && data.date < new Date();
  })
)
  .sort(function (a, b) {
    return b.data.date.valueOf() - a.data.date.valueOf();
  })
  .slice(0, 3);

const clients = await getCollection("clients", ({ slug }) => {
  return publishedWorkEntries.some((work) => work.data.client.slug == slug);
});

const client = clients.find((client) => client.id === "neoaesthetic.md")!;

// TODO: We have to make this images have the correct size originally, avoiding changing it with css which causes bad performance (cuando sepamos los logos y tal lo haremos)
---

<Layout title={t("ourWork.pageTitle")}>
  <Sectionhead
    section={t("ourWork.sectionHead.title")}
    title={t("ourWork.sectionHead.subtitle")}
    description={t("ourWork.sectionHead.description")}
  />

  <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-20">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div style="opacity: 1; transform: none;">
        <h2 class="font-display text-2xl font-semibold text-neutral-950">
          {t("ourWork.title")}
        </h2>
      </div>
      <div class="mt-10 space-y-20 sm:space-y-24 lg:space-y-32">
        {
          publishedWorkEntries.map((work) => {
            const client = clients.find(
              (client) => client.slug === work.data.client.slug,
            )!;

            const url = getRelativeLocaleUrl(lang, `/work/${work.slug}`);

            return (
              <article>
                <div class="grid grid-cols-3 gap-x-8 gap-y-8 pt-16 relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                  <div class="col-span-full sm:flex sm:items-center sm:justify-between sm:gap-x-8 lg:col-span-1 lg:block">
                    <div class="sm:flex sm:items-center sm:gap-x-6 lg:block">
                      <Image
                        alt={client.data.name}
                        loading="lazy"
                        decoding="async"
                        data-nimg="1"
                        class="flex-none"
                        height="125"
                        width={client.data.logos.markDark.width}
                        src={client.data.logos.markDark}
                        style="color: transparent;"
                      />
                      <h3 class="mt-6 text-sm font-semibold text-neutral-950 sm:mt-0 lg:mt-8">
                        {client.data.name}
                      </h3>
                    </div>
                    <div class="mt-1 flex gap-x-4 sm:mt-0 lg:block">
                      <p class="text-sm tracking-tight text-neutral-950 after:ml-4 after:font-semibold after:text-neutral-300 after:content-['/'] lg:mt-2 lg:after:hidden">
                        {work.data.tags
                          .map((tag) => t(`tags.${tag}`))
                          .join(", ")}
                      </p>
                      <p class="text-sm text-neutral-950 lg:mt-2">
                        <time datetime={work.data.date.toISOString()}>
                          {capitalize(getFormattedDate(work.data.date))}
                        </time>
                      </p>
                    </div>
                  </div>
                  <div class="col-span-full lg:col-span-2 lg:max-w-2xl">
                    <p class="font-display text-4xl font-medium text-neutral-950">
                      <a href={url}>{work.data.title}</a>
                    </p>
                    <div class="mt-6 space-y-6 text-base text-neutral-600">
                      <p>{work.data.description}</p>
                      <p>{work.data.snippet}</p>
                    </div>
                    <div class="mt-8 flex">
                      <a
                        class="inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition bg-neutral-950 text-white hover:bg-neutral-800"
                        aria-label={`Leer caso de estudio: ${client.data.name}`}
                        href={url}>
                        <span class="relative top-px">{t("readMore")}</span>
                      </a>
                    </div>
                    <div class="pl-8 mt-12 relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                      <figure class="text-sm">
                        <blockquote class="text-neutral-600 [&>*]:relative [&>:first-child]:before:absolute [&>:first-child]:before:right-full [&>:first-child]:before:content-['“'] [&>:last-child]:after:content-['”']">
                          <p>{work.data.quote.message}</p>
                        </blockquote>
                        <figcaption class="mt-6 font-semibold text-neutral-950">
                          {work.data.quote.author.name},{" "}
                          {work.data.quote.author.position}
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </article>
            );
          })
        }
      </div>
    </div>
  </div>

  <Message
    title={t("successCases")}
    content={client.data.reviews[0][lang].content}
    image={{
      alt: `Diseño Web ${client.data.name} Imagen`,
      src: client.data.logos.light,
    }}
  />

  <AboutYourProject />
</Layout>
