---
import Link from "./ui/link.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

import Sectionhead from "./sectionhead.astro";
import Container from "./ui/container.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  title: string;
  firstP: string;
  secondP?: string;
  cta?: {
    text: string;
    link: string;
  };
}

const { title, firstP, secondP, cta } = Astro.props;
---

<Container class="px-6">
  <div
    class="flex flex-col lg:flex-row justify-between mx-auto max-w-2xl lg:max-w-none gap-12 mt-8">
    <slot />
    <div class="max-w-2xl">
      <div
        class="mt-6 block max-w-5xl font-display text-3xl font-medium tracking-tight text-neutral-950 [text-wrap:balance] sm:text-4xl">
        <h2>{title}</h2>
      </div>
      <div class="mt-6 text-xl text-neutral-600">
        <div class="flex flex-col gap-3.5">
          <span set:html={firstP} />
          {secondP && <span set:html={secondP} />}
        </div>

        {
          cta && (
            <div class="flex mt-10">
              <Link href={getRelativeLocaleUrl(lang, cta?.link)}>
                {cta?.text}
              </Link>
            </div>
          )
        }
      </div>
    </div>
  </div>
</Container>

<!-- <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
  <div class="flex flex-col lg:flex-row mx-auto max-w-2xl lg:max-w-none">
    <div class="lg:w-1/2 sm:mt-6 lg:mt-0 lg:mr-6 mt-6">
      <Image
        alt="SEO Image"
        width="440"
        height="580"
        class="max-w-full h-auto"
        src={seoImage}
      />
    </div>
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="max-w-2xl" style="opacity: 1; transform: none;">
        <div
          class="block font-display tracking-tight [text-wrap:balance] text-4xl font-medium sm:text-5xl text-neutral-950">
          <h2>
            {t("briefSeoInfo.title")}
          </h2>
        </div>
        <div class="mt-6 flex flex-col gap-3.5">
          <div class="text-xl text-neutral-600">
            <p set:html={t("briefSeoInfo.firstP")} />
          </div>
          <div class="text-xl text-neutral-600">
            <p set:html={t("briefSeoInfo.secondP")} />
          </div>
          <div class="text-xl text-neutral-600">
            <div class="flex mt-10">
              <Link href={getRelativeLocaleUrl(lang, "/contacto")}>
                {t("briefSeoInfo.cta")}
              </Link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
