---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
import Record from "@components/record.astro";
import Background from "@components/background.astro";
import FromBlog from "@components/from-blog.astro";
import AboutYourProject from "@components/about-your-project.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

const recordsData = [
  { description: "Año", value: 1 },
  { description: "Clientes satisfechos", value: 5 },
  { description: "Proyectos completados", value: 10 },
];

const cultureData = [
  {
    label: "Lealtad",
    description:
      "Nuestro equipo ha estado con nosotros desde el inicio y con metas en común.",
  },
  {
    label: "Confianza",
    description:
      "No nos preocupamos de cuando trabaja nuestro equipo siempre y cuando completen su trabajo manteniendo un buen balance trabajo-vida personal.",
  },
  {
    label: "Calidad",
    description:
      "Nos preocupamos mucho por la calidad de nuestro trabajo, por lo que ponemos todo nuestro esfuerzo en crear software fiable y robusto.",
  },
];
---

<Layout title="About">
  <Sectionhead
    section="Sobre nosotros"
    title="Nuestro punto fuerte es la colaboración"
    description="Somos un equipo pequeño y apasionado. Creemos que nuestra fortaleza se debe a nuestro enfoque colaborativo, poniendo a los clientes en el centro de lo que hacemos.">
    <div class="mt-10 max-w-2xl space-y-6 text-base">
      <p>
        Webllope nace gracias a dos amigos que se dieron cuenta del potencial de
        crecimiento que la tecnoloogía puede dar a pequeños negocios. El
        principal problema de estos negocios es la falta de consciencia acerca
        de cómo soluciones adaptadas a su modelo de negocio pueden ayudarlos.
      </p>
      <p>
        En Webllope somos más que compañeros — somos una familia. Dimos nuestros
        primeros pasos en la ingeniería informática juntos, durante nuestro paso
        por la universidad. Desde entonces y hasta ahora, intentado mejorar el
        mundo con la tecnología como medio.
      </p>
    </div>
  </Sectionhead>

  <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-16">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <dl
        class="grid grid-cols-1 gap-10 sm:grid-cols-2 lg:auto-cols-fr lg:grid-flow-col lg:grid-cols-none">
        {recordsData.map((data) => <Record data={data} />)}
      </dl>
    </div>
  </div><div
    class="mt-24 rounded-4xl bg-neutral-950 py-24 sm:mt-32 lg:mt-40 lg:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="max-w-2xl" style="opacity: 1; transform: none;">
          <h2>
            <span
              class="mb-6 block font-display text-base font-semibold text-white">
              Nuestra cultura
            </span>
            <span
              class="block font-display tracking-tight [text-wrap:balance] text-4xl font-medium sm:text-5xl text-white">
              Equilibra tu pasión con tu pasión por la vida.
            </span>
          </h2>
          <p class="mt-6 text-xl text-neutral-300">
            Somos un grupo de personas con cosas en común que compartimos los
            mismo valores básicos.
          </p>
        </div>
      </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-16">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div>
          <ul
            role="list"
            class="grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3">
            {
              cultureData.map((item) => (
                <li class="text-base text-neutral-300 before:bg-white after:bg-white/10">
                  <div style="opacity: 1; transform: none;">
                    <div class="pl-8 relative before:absolute after:absolute before:bg-white after:bg-white/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                      <strong class="font-semibold text-white">
                        {item.label}.
                      </strong>{" "}
                      {item.description}
                    </div>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div><div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="space-y-24">
        <div>
          <div
            class="relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px"
            style="opacity: 1; transform: none;">
          </div>
          <div
            class="grid grid-cols-1 gap-6 pt-12 sm:pt-16 lg:grid-cols-4 xl:gap-8">
            <div style="opacity: 1; transform: none;">
              <h2 class="font-display text-2xl font-semibold text-neutral-950">
                Liderazgo
              </h2>
            </div>
            <div class="lg:col-span-3">
              <ul
                role="list"
                class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:gap-8">
                {
                  publishedTeamMembers
                    .filter((m) => m.data.roles.includes("leadership"))
                    .sort((a, b) => a.data.id - b.data.id)
                    .map((m) => (
                      <li>
                        <div style="opacity: 1; transform: none;">
                          <div class="group relative overflow-hidden rounded-3xl bg-neutral-100">
                            <Image
                              alt={m.data.name}
                              loading="lazy"
                              width="1800"
                              height="1800"
                              decoding="async"
                              data-nimg="1"
                              class="h-96 w-full object-cover grayscale transition duration-500 motion-safe:group-hover:scale-105"
                              src={m.data.avatar.src}
                              style="color: transparent;"
                            />
                            <div class="absolute inset-0 flex flex-col justify-end bg-gradient-to-t from-black to-black/0 to-40% p-6">
                              <p class="font-display text-base/6 font-semibold tracking-wide text-white">
                                {m.data.name}
                              </p>
                              <p class="mt-2 text-sm text-white">
                                {m.data.title}
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    ))
                }
              </ul>
            </div>
          </div>
        </div><div>
          <div
            class="relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px"
            style="opacity: 1; transform: none;">
          </div><div
            class="grid grid-cols-1 gap-6 pt-12 sm:pt-16 lg:grid-cols-4 xl:gap-8">
            <div style="opacity: 1; transform: none;">
              <h2 class="font-display text-2xl font-semibold text-neutral-950">
                Equipo
              </h2>
            </div>
            <div class="lg:col-span-3">
              <ul
                role="list"
                class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:gap-8">
                {
                  publishedTeamMembers
                    .filter((m) => m.data.roles.includes("team"))
                    .sort((a, b) => a.data.id - b.data.id)
                    .map((m) => (
                      <li>
                        <div style="opacity: 1; transform: none;">
                          <div class="group relative overflow-hidden rounded-3xl bg-neutral-100">
                            <Image
                              alt={m.data.name}
                              loading="lazy"
                              width="1800"
                              height="1800"
                              decoding="async"
                              data-nimg="1"
                              class="h-96 w-full object-cover grayscale transition duration-500 motion-safe:group-hover:scale-105"
                              src={m.data.avatar.src}
                              style="color: transparent;"
                            />
                            <div class="absolute inset-0 flex flex-col justify-end bg-gradient-to-t from-black to-black/0 to-40% p-6">
                              <p class="font-display text-base/6 font-semibold tracking-wide text-white">
                                {m.data.name}
                              </p>
                              <p class="mt-2 text-sm text-white">
                                {m.data.title}
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    ))
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relative pt-24 sm:pt-32 lg:pt-40 mt-24 sm:mt-32 lg:mt-40">
    <div
      class="absolute inset-x-0 top-0 -z-10 h-[884px] overflow-hidden rounded-t-4xl bg-gradient-to-b from-neutral-50">
      <Background />
    </div>
    <FromBlog />

    <AboutYourProject />
  </div>
</Layout>
