---
import { Icon } from "astro-icon";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/layout.astro";
import { contact, social, locations } from "data";
import ContactForm from "@components/contact-form.astro";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const socialItems = [
  {
    label: "Facebook",
    name: "facebook",
    icon: "mdi:facebook",
  },
  {
    label: "Instagram",
    name: "instagram",
    icon: "mdi:instagram",
  },
  {
    label: "Twitter",
    name: "twitter",
    icon: "mdi:twitter",
  },
  {
    label: "Github",
    name: "Github",
    icon: "mdi:github",
  },
];
---

<Layout title={t("contacto.pageTitle")}>
  <Sectionhead
    section={t("contacto.sectionHead.title")}
    title={t("contacto.sectionHead.subtitle")}
    description={t("contacto.sectionHead.description")}
  />

  <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="grid grid-cols-1 gap-x-8 gap-y-24 lg:grid-cols-2">
        <div class="lg:order-last" style="opacity: 1; transform: none;">
          <ContactForm />
        </div>
        <div style="opacity: 1; transform: none;">
          <h2 class="font-display text-base font-semibold text-neutral-950">
            {t("contacto.ourOffices")}
          </h2>
          <p class="mt-6 text-base text-neutral-600">
            {t("contacto.ourOfficesText")}
          </p>
          <ul role="list" class="mt-10 grid grid-cols-1 gap-8 sm:grid-cols-2">
            {
              locations.map((location) => (
                <li>
                  <address class="text-sm not-italic text-neutral-600">
                    <strong class="text-white">{location.city}</strong>
                    <br />
                    {location.address}
                    <br />
                    {location.zip}, {location.state}, {location.country}
                  </address>
                </li>
              ))
            }
          </ul>
          <div
            class="mt-16 pt-16 relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
            <h2 class="font-display text-base font-semibold text-neutral-950">
              {t("contacto.sendEmail")}
            </h2>
            <dl class="mt-6 grid grid-cols-1 gap-8 text-sm sm:grid-cols-2">
              <div>
                <dt class="font-semibold text-neutral-950">
                  {t("informacion")}
                </dt>
                <dd>
                  <a
                    class="text-neutral-600 hover:text-neutral-950"
                    href={`mailto:${contact.email.info}`}>
                    {contact.email.info}
                  </a>
                </dd>
              </div>
              <div>
                <dt class="font-semibold text-neutral-950">{t("soporte")}</dt>
                <dd>
                  <a
                    class="text-neutral-600 hover:text-neutral-950"
                    href={`mailto:${contact.email.support}`}>
                    {contact.email.support}
                  </a>
                </dd>
              </div>
            </dl>
          </div>
          <div
            class="mt-16 pt-16 relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
            <h2 class="font-display text-base font-semibold text-neutral-950">
              {t("followUs")}
            </h2>
            <ul role="list" class="flex gap-x-10 text-neutral-950 mt-6">
              {
                socialItems.map((item) => (
                  <li>
                    <a
                      aria-label={item.label}
                      class="transition hover:text-neutral-700"
                      href={social[item.name]}>
                      <Icon
                        alt={item.label}
                        class="h-5 md:h-7"
                        name={item.icon}
                      />
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
