---
import { formatDate, getLangFromUrl, useTranslations } from "@i18n/utils";
import Layout from "./layout.astro";
import { getEntry } from "astro:content";

import type { CollectionEntry } from "astro:content";
import Background from "@components/background.astro";
import FromBlog from "@components/from-blog.astro";
import AboutYourProject from "@components/about-your-project.astro";

interface Props {
  frontmatter: CollectionEntry<"blog">["data"];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const getFormattedDate = (date) => formatDate(lang, date);

const { frontmatter } = Astro.props;

const author = await getEntry(frontmatter.author);
---

<Layout title={frontmatter.title}>
  <main class="w-full flex-auto">
    <article class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <Background />
        <header class="mx-auto flex max-w-5xl flex-col text-center">
          <h1
            class="mt-6 font-display text-5xl font-medium tracking-tight text-neutral-950 [text-wrap:balance] sm:text-6xl">
            {frontmatter.title}
          </h1>
          <time
            datetime={frontmatter.publishDate.toISOString()}
            class="order-first text-sm text-neutral-950">
            {getFormattedDate(frontmatter.publishDate)}
          </time>
          <p class="mt-6 text-sm font-semibold text-neutral-950">
            by {author?.data.name}, {author?.data.title}
          </p>
        </header>

        <div
          class="[&>*]:mx-auto [&>*]:max-w-3xl [&>:first-child]:!mt-0 [&>:last-child]:!mb-0 mt-24 sm:mt-32 lg:mt-40">
          <article
            class="prose lg:prose-xl"
            style="font-feature-settings: normal; font-variation-settings: normal;">
            <slot />
          </article>
        </div>
      </div>
    </article>
  </main>

  <div class="relative pt-24 sm:pt-32 lg:pt-40 mt-24 sm:mt-32 lg:mt-40">
    <div
      class="absolute inset-x-0 top-0 -z-10 h-[884px] overflow-hidden rounded-t-4xl bg-gradient-to-b from-neutral-50">
      <Background />
    </div>
    <FromBlog variant="secondary" />

    <AboutYourProject />
  </div>
</Layout>
