---
import Layout from "./layout.astro";

import { Image } from "astro:assets";
import { getEntry, type CollectionEntry } from "astro:content";
import Background from "@components/background.astro";

import { getLangFromUrl, useTranslations } from "@i18n/utils";
import MoreJobs from "@components/more-jobs.astro";
import AboutYourProject from "@components/about-your-project.astro";
import WebsiteReview from "@components/website-review.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  frontmatter: CollectionEntry<"work">["data"];
  websiteName: string;
  imagesAmount: number;
}

const { frontmatter, websiteName, imagesAmount } = Astro.props;

const imagesPaths = Array.from({ length: imagesAmount }, (_, i) => {
  return `/src/assets/${websiteName}${i + 1}.webp`;
});

const date = new Date(frontmatter.date);

const client = await getEntry(frontmatter.client);
---

<Layout title={frontmatter.title}>
  <Background />
  <main class="w-full flex-auto">
    <article class="mt-24 sm:mt-32 lg:mt-40">
      <header>
        <div
          class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40 text-center">
          <div class="mx-auto max-w-2xl lg:max-w-none">
            <div style="opacity: 1; transform: none;">
              <h1>
                <span
                  class="mt-6 block max-w-5xl font-display text-5xl font-medium tracking-tight text-neutral-950 [text-wrap:balance] sm:text-6xl mx-auto">
                  {frontmatter.title}
                </span>
              </h1>
              <p class="mt-6 max-w-3xl text-xl text-neutral-600 mx-auto">
                {frontmatter.description}
              </p>
            </div>
          </div>
        </div>
        <div
          class="mt-24 border-t border-neutral-200 bg-white/50 sm:mt-32 lg:mt-40">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:max-w-none">
              <div class="mx-auto max-w-5xl">
                <dl
                  class="-mx-6 grid grid-cols-1 text-sm text-neutral-950 sm:mx-0 sm:grid-cols-3">
                  <div
                    class="border-t border-neutral-200 px-6 py-4 first:border-t-0 sm:border-l sm:border-t-0">
                    <dt class="font-semibold">Client</dt>
                    <dd>{client.data.name}</dd>
                  </div>
                  <div
                    class="border-t border-neutral-200 px-6 py-4 first:border-t-0 sm:border-l sm:border-t-0">
                    <dt class="font-semibold">Year</dt>
                    <dd>
                      <time datetime={date.getFullYear().toString()}>
                        {date.getFullYear()}
                      </time>
                    </dd>
                  </div>
                  <div
                    class="border-t border-neutral-200 px-6 py-4 first:border-t-0 sm:border-l sm:border-t-0">
                    <dt class="font-semibold">Service</dt>
                    <dd>
                      {
                        frontmatter.tags
                          .map((tag) => t(`tags.${tag}`))
                          .join(", ")
                      }
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
          <div class="border-y border-neutral-200 bg-neutral-100">
            <div class="-my-px mx-auto max-w-[76rem] bg-neutral-200">
              <div class="group relative">
                <Image
                  alt={frontmatter.cover.alt}
                  fetchpriority="high"
                  width="1300"
                  height="720"
                  decoding="async"
                  data-nimg="1"
                  class="w-full grayscale transition duration-300 hover:grayscale-0"
                  src={frontmatter.cover.src}
                  style="color: transparent;"
                  loading="eager"
                />
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
        <div class="mx-auto max-w-2xl lg:max-w-none">
          <div
            class="[&>*]:mx-auto [&>*]:max-w-3xl [&>:first-child]:!mt-0 [&>:last-child]:!mb-0 mt-24 sm:mt-32 lg:mt-40">
            <article
              class="prose lg:prose-xl"
              style="font-feature-settings: normal; font-variation-settings: normal;">
              <slot />
            </article>
            <WebsiteReview paths={imagesPaths} alt="Neoaesthetic Image" />
          </div>
        </div>
      </div>
    </article>
  </main>

  <div class="relative pt-24 sm:pt-32 lg:pt-40 mt-24 sm:mt-32 lg:mt-40">
    <div
      class="absolute inset-x-0 top-0 -z-10 h-[884px] overflow-hidden rounded-t-4xl bg-gradient-to-b from-neutral-50">
      <Background />
    </div>
    <MoreJobs />

    <AboutYourProject />
  </div>
</Layout>
